@font-face{
  font-family: font_one;
  src:url(./../fonts/Modeseven-L3n5.ttf);
}

#home-clickable {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  text-align: center;
  text-decoration: none;
}

#container {
  width: 1100px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.song-card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 50px;
  margin-bottom: 50px;
}

.song-release-date{
  color: gray;
}

.song-title{
  text-align: center;
  font-family: font_one;
}

.custom-audio-player {
  display: grid;
  grid-template-columns: 0.5fr 8fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.custom-play-button {
  cursor: pointer;
}

.lyrics-button{
  cursor: pointer;
  color: gray;
}

.song-lyrics{
  display: none;
}

.slider {
  cursor: pointer;
  position: relative;
  left: -5px;
  z-index: 99;
}

.playbar {
  cursor: pointer;
  display: flex;
  position: relative;
  margin-right: 30px;
}

.inner {
  position: absolute;
  width: 100%;
  white-space: nowrap;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.time-stamp {
  font-family: font_one;
  font-size: 20px;
}
