@font-face{
  font-family: font_one;
  src:url(./../fonts/Modeseven-L3n5.ttf);
}

#home-clickable {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  text-align: center;
  text-decoration: none;
}

#container {
  width: 1600px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 50px;
}

.note-title {
  cursor: pointer;
  color: gray;
  font-family: font_one;
}

.note-content {
  font-family: font_one;
  font-size: 16px;
}

.titles-list {
  margin-top: 10px;
  margin-right: 50px;
}
